::ng-deep {
    @media screen and (max-width: 959px) {
        $width: 250px;
        .mat-datepicker-content {
            width: $width !important;
        }
        .mat-calendar {
            width: $width !important;
        }
    }
}

a {
    text-decoration: none !important;
    color: orange !important;
}
