<div class="container">
    <div fxHide fxShow.gt-sm fxLayout="column">
        <div class="row">
            <div fxFlex="80" fxLayoutAlign="start center" class="tag-container" fxLayoutGap="5px">
                <button mat-icon-button *ngIf="list.isOverflow" [disabled]="!list.canScrollStart" (click)="list.scroll(-1)">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <mat-chip-list aria-orientation="horizontal" fxLayout="row" fxLayoutGap="30px" appScrollable #list="appScrollable" [scrollUnit]="150" class="list">
                    <mat-chip [removable]="tag.id != 0" selectable="false" *ngFor="let tag of tags" [selected]="tag==selectedTag" (click)="changeSelectedTag(tag)" (removed)="openRemoveTagDialog(tag)">
                        {{tag.name}}
                        <button matChipRemove *ngIf="tag.id != 0">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                  </mat-chip-list>
                <button mat-icon-button *ngIf="list.isOverflow"  [disabled]="!list.canScrollEnd" (click)="list.scroll(1)">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
            <div fxFlex="20" fxLayoutAlign="end center">avatars</div>
        </div>
        <div>
            <form fxLayout="row" novalidate method="POST" [formGroup]="form" #lform="ngForm">
                <div fxFlex="25" class="column" fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="35px">
                    <mat-expansion-panel class="to-do column-header">
                        <mat-expansion-panel-header>
                            <mat-panel-title fxLayoutAlign="center center">
                                <h1 class="mb-0">To Do</h1>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="w-100" fxLayoutAlign="center center" fxLayout="column">
                            <mat-form-field appearance="outline" class="w-60">
                                <mat-label>Max quantity</mat-label>
                                <input matInput class="black" formControlName="toDo" (blur)="onSubmit($event)">
                                <mat-error *ngIf="formErrors.toDo">{{formErrors.toDo}}</mat-error>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                    <div class="w-100" fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="35px" *ngIf="tasks.toDo">
                        <app-task-reduced class="task-card" *ngFor="let task of tasks.toDo" [model]="task"></app-task-reduced>
                    </div>
                    <div *ngIf="!tasks.toDo && !loadError">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
                <div fxFlex="25" class="column" fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="35px">
                    <mat-expansion-panel class="in-progress column-header">
                        <mat-expansion-panel-header>
                            <mat-panel-title fxLayoutAlign="center center">
                                <h1 class="mb-0">In Progress</h1>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="w-100" fxLayoutAlign="center center" fxLayout="column">
                            <mat-form-field appearance="outline" class="w-60">
                                <mat-label>Max quantity</mat-label>
                                <input matInput class="black" formControlName="inProgress" (blur)="onSubmit($event)">
                                <mat-error *ngIf="formErrors.inProgress">{{formErrors.inProgress}}</mat-error>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                    <div class="w-100" fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="35px" *ngIf="tasks.inProgress">
                        <app-task-reduced class="task-card" *ngFor="let task of tasks.inProgress" [model]="task"></app-task-reduced>
                    </div>
                    <div *ngIf="!tasks.inProgress && !loadError">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>    
                <div fxFlex="25" class="column" fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="35px">
                    <mat-expansion-panel class="validate column-header">
                        <mat-expansion-panel-header>
                            <mat-panel-title fxLayoutAlign="center center">
                                <h1 class="mb-0">Validate</h1>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="w-100" fxLayoutAlign="center center" fxLayout="column">
                            <mat-form-field appearance="outline" class="w-60">
                                <mat-label>Max quantity</mat-label>
                                <input matInput class="black" formControlName="validate" (blur)="onSubmit($event)">
                                <mat-error *ngIf="formErrors.validate">{{formErrors.validate}}</mat-error>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                    <div class="w-100" fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="35px" *ngIf="tasks.validate">
                        <app-task-reduced class="task-card" *ngFor="let task of tasks.validate" [model]="task"></app-task-reduced>
                    </div>
                    <div *ngIf="!tasks.validate && !loadError">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>      
                <div fxFlex="25" class="column" fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="35px">
                    <mat-expansion-panel class="complete column-header">
                        <mat-expansion-panel-header>
                            <mat-panel-title fxLayoutAlign="center center">
                                <h1 class="mb-0">Complete</h1>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="w-100" fxLayoutAlign="center center" fxLayout="column">
                            <mat-form-field appearance="outline" class="w-60">
                                <mat-label>Max quantity</mat-label>
                                <input matInput disabled value="unlimited" class="black">
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                    <div class="w-100" fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="35px" *ngIf="tasks.done">
                        <app-task-reduced class="task-card" *ngFor="let task of tasks.done" [model]="task"></app-task-reduced>
                    </div>
                    <div *ngIf="!tasks.done && !loadError">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div fxShow fxHide.gt-sm>
        <p>project-tasks (phone) works!</p>
    </div>
</div>
