<div class="profile container no-shadow my-10" fxLayout="column">
        <h1 class="text-xl">Your tasks: </h1>
        <div fxLayout="column" fxLayoutGap="30px" class="mb-30" *ngIf="tasks">
            <mat-card *ngFor="let task of tasks" class="task-card">
                <mat-card-title class="orange truncate-content"><a class="orange no-decor" title="to task">{{task.name}} ||Add a link!!!</a></mat-card-title>
                <mat-card-content class="text-md">
                    <p><strong>Status:</strong> {{task.status}}</p>
                    <p><strong>Start date:</strong> {{task.startDate | date:'d MMM y, HH:mm:ss'}}</p>
                    <p *ngIf="task.deadline"><strong class="deep-orange">Deadline:</strong> {{task.deadline | date:'d MMM y, HH:mm:ss'}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="errorMessage">
            <p class="red text-md">An error occured: {{errorMessage}}<br>
            Please, try again later</p>
        </div>
        <div *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
</div>
