<button mat-icon-button class="dialog-close-button" [mat-dialog-close]="true" tabindex="-1">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h1 mat-dialog-title class="deep-orange">Delete {{projectName}}</h1>
<mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="30px" *ngIf="!success && !loading && !errorMessage">
        <div class="header-container">
            <h3>Are you sure you want to delete this project?<br>
                Please type <span class="red fill-value">{{projectName}}</span> to confirm.</h3>
        </div>
        <form fxLayout="column" class="container w-100" novalidate method="POST" [formGroup]="form" #dform="ngForm" fxFlex (submit)="onSubmit()">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Value</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
                </mat-form-field>
            </p>
            <div fxLayoutGap="30px">
                <button mat-flat-button [mat-dialog-close]="true" type="button">No, go back</button>
                <button mat-flat-button color="warn" (click)="onSubmit()" type="submit" [disabled]="form.invalid">Yes, delete the project</button>
            </div>
        </form>
    </div>
    <div *ngIf="success">
        <div class="header-container">
            <h3>The project {{projectName}} has been successfully deleted</h3>
        </div>
        <div>
            <button mat-flat-button (click)="closeAll()">Close</button>
        </div>
    </div>
    <div *ngIf="errorMessage">
        <div class="header-container">
            <h3 class="red">An error occured: {{errorMessage}}<br>
            Try again later</h3>
        </div>
        <div>
            <button mat-flat-button [mat-dialog-close]="true">Close</button>
        </div>
    </div>
    <div *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</mat-dialog-content>
