.avatar-img-wrapper {
    max-height: 150px;
    max-width: 150px;
}

.mat-badge-content {
    font-family: 'Material Icons';
}

.info {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14pt;
    font-weight: 500;
}