<button mat-icon-button class="dialog-close-button" [mat-dialog-close]="true" tabindex="-1">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h1 mat-dialog-title class="deep-orange">Remove "{{file.name}}"</h1>
<mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="30px" *ngIf="!success && !loading && !errorMessage">
        <div>
            <h3>Are you sure you want to remove the file <span class="deep-orange">"{{file.name}}"</span>?</h3>
        </div>
        <div fxLayoutGap="30px">
            <button mat-flat-button [mat-dialog-close]="true">No, go back</button>
            <button mat-flat-button color="warn" (click)="onSubmit()">Yes, remove it</button>
        </div>
    </div>
    <div *ngIf="success">
        <div class="header-container">
            <h3>You have successfully removed the file <span class="deep-orange">"{{file.name}}"</span></h3>
        </div>
        <div>
            <button mat-flat-button [mat-dialog-close]="true">Close</button>
        </div>
    </div>
    <div *ngIf="errorMessage">
        <div class="header-container">
            <h3 class="red">An error occured: {{errorMessage}}<br>
            Try again later</h3>
        </div>
        <div>
            <button mat-flat-button [mat-dialog-close]="true">Close</button>
        </div>
    </div>
    <div *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</mat-dialog-content>
