<footer>
    <div class="container">
        <div class="row">
            <div  class="container full" fxLayout="column" fxLayoutAlign="center center">
                <a routerLink="/home">
                    <img class="d-none d-sm-block" src="../../assets/logo.png" height="35">
                </a>
                    <p class="text-center">
                        EasyWork ©2021-{{year}} | All Rights Reserved<br>
                        <a href="https://github.com/NktCHRN/EasyWork" target="_blank" class="orange"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a><br>
                        by <a href="https://github.com/NktCHRN" target="_blank" class="orange">Nikita Chernikov</a>
                    </p>
            </div>
        </div>
    </div>
</footer>