<div class="project-profile" fxLayoutAlign="center center">
    <div *ngIf="users" fxLayout="column" fxLayoutGap="15px" class="w-100">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <div class="w-80">    
                <h1 class="mb-0">Participants</h1>
            </div>
                <div>    
                    <button 
                    mat-flat-button 
                    color="warn" 
                    [disabled]="isSingleOwner | async" 
                    [matTooltip]="'Add another owner first or delete the project'" 
                    [matTooltipDisabled]="!(isSingleOwner | async)"
                    (click)="openLeaveDialog()">Leave the project
                </button>
                </div>
        </div>
        <div class="table-container">
        <table mat-table [dataSource]="users" class="w-100">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">
                <a title="{{element.user.fullName}}" [routerLink]="['/users', element.user.id]" fxLayoutAlign="start center" class="text-md">
                    <img alt="avatar" src="{{element.user.avatarURL ? element.user.avatarURL : '../../assets/default-avatar.png'}}" class="avatar table-avatar">
                    {{element.user.fullName}}<span *ngIf="element.user.id == me.userId" class="text-muted">&nbsp;(me)</span>
                </a>
            </td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef>Role</th>
              <td mat-cell *matCellDef="let element">{{roleService.roleToString(element.role)}}</td>
            </ng-container>
            <ng-container matColumnDef="tasksDone">
              <th mat-header-cell *matHeaderCellDef>Tasks done</th>
              <td mat-cell *matCellDef="let element">{{element.tasksDone}}</td>
            </ng-container>
            <ng-container matColumnDef="tasksNotDone">
              <th mat-header-cell *matHeaderCellDef>Tasks not done</th>
              <td mat-cell *matCellDef="let element">{{element.tasksNotDone}}</td>
            </ng-container>
            <ng-container matColumnDef="actions" *ngIf="me.role >= userOnProjectRoles.Manager">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element" fxLayoutGap="15px">
                    <button 
                      mat-flat-button 
                      color="accent" 
                      *ngIf="me.role == userOnProjectRoles.Owner && element.user.id != me.userId" 
                      [matTooltip]="'Edit'" 
                      class="table-actions-btn"
                      (click)="openEditDialog(element.user.id)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button 
                      mat-flat-button 
                      color="warn" 
                      *ngIf="element.isKickable && element.user.id != me.userId" 
                      [matTooltip]="'Kick'" 
                      class="table-actions-btn"
                      (click)="openKickDialog(element.user.id)">
                      <mat-icon>person_remove</mat-icon>
                    </button>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
          <button mat-flat-button color="primary" *ngIf="me.role >= userOnProjectRoles.Manager" (click)="openAddDialog()">Add</button>
        <div style="padding-top: 20px;">
            <app-project-invite [projectId]="projectId" [me]="me" [connectionContainer]="connectionContainer"></app-project-invite>
        </div>
    </div>
    <div *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>
