.table-avatar {
    width: 35px;
    margin-right: 10px;
}

a {
    text-decoration: none !important;
    color: orange !important;
}

$padding-size: 3px;
td {
    padding-left: $padding-size !important;
    padding-right: $padding-size !important;
}

.table-container {
    width: 100%;
    overflow-x: scroll;
}
