@import '../../../variables';

.jumbotron
{
    background-color: $background-lightgray
}

.jumbo-text {
    font-size: large;
    text-align: justify;
}

.jumbo-img-wrapper {
    max-height: 400px;
    max-width: 400px;
}

.content-img-wrapper {
    max-height: 200px;
    max-width: 300px;
}
